<!DOCTYPE html>
<html>
  <head>
    <title>Efizity Challenge</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo&family=Bebas+Neue&family=Open+Sans:wght@500&family=Space+Grotesk:wght@700&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/navbar' %>

    <% flash.each do |type, msg| %>
      <% if flash[:info] %>
        <div class="flash is-info">
          <%= msg %>
        </div>
      <% elsif flash[:warning] %>
        <div class="flash is-warning">
          <%= msg %>
        </div>
      <% else %>
        <div class="flash is-error">
          <%= msg %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>

    <%= render 'partials/footer' %>
  </body>
</html>
